<header class="simulator-header">
  <h2>Simulador de Insumos</h2>
  <p>
    Conheça o simulador de insumos. Com ele você pode comparar as dosagens
    aplicadas, evitar desperdícios e aumentar a produtividade!
  </p>
</header>
<iframe
  src="https://insumos-react.vercel.app/"
  title="Iframe Example"
  style="border: none"
  id="#simulator-title"
></iframe>
<div class="divider-1"></div>
<section class="section" id="contact">
  <div class="container grid">
    <div class="text">
      <h2 class="title">Entre em contato com a gente!</h2>
      <p>
        Entre em contato com a Component, queremos tirar suas duvidas, ouvir
        suas criticas e sugestoes.
      </p>
      <a
        href="https://api.whatsapp.com/send?phone=+5511995873871&text=Ola! Gostaria de agendar um horario"
        class="button"
        target="blank"
        ><i class="icon-whatsapp"></i>Entrar em contato</a
      >
    </div>
    <div class="links">
      <ul class="grid">
        <li><i class="icon-phone"></i>(11) 99587-3871</li>
        <li><i class="icon-map-pin"></i>R. Martim Burchard, 201, Brás, SP</li>
        <li><i class="icon-mail"></i>contato@component.com</li>
      </ul>
    </div>
  </div>
</section>
