.simulator-header h2 {
  font-size: var(--title-font-size);
  color: whitesmoke;
  background-color: var(--base-color);
  padding: 3rem 0;
  margin-top: var(--header-height);
  text-align: center;
}

.simulator-header p {
  padding: 3rem 1.5rem;
  text-align: center;
}

iframe {
  display: block;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
}
